.navbar-brand img{
    height: 100px;
    width: 200px;
}
.backgroung-color-css{
    background-color: rgb(217, 255, 199);
}
.image-size{
    height: 200px;
    width: 400px;
}
@media only screen and (max-width:576px) {
    .response-image{
        height: 100%;
        width: 100%;
    }
    .text-slide{
        height: 300px;
        width: 300px;
    }
    .response{
        font-size: 12px;
    }
    .response-paragraph{
        font-size: 8px;
    }
    .input-response{
        height: 30px;
    }
    .button-response{
        height: 30px;
    }
    .new-response{
        flex-direction: column;
    }
    .image-size{
        height: 100%;
        width: 100%;
    }
}